@import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@400;500;600;700;800;900&display=swap');


*{
  margin: 0px;
  padding: 0px;
  transition: opacity 0.2s, box-shadow 0.1s;
}

:root{
  --background: #fff;
  --highlighter: #5ECE7B;
  --highlighterLess: #5ECE7B77;
  --highlighterStockLess: #5ece7c9d;
  --outOfStock: #767677;
}

html{
  font-size: 62.5%;
  font-family: 'Raleway', 'Trebuchet MS';
}

body {
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  background: var(--background);
  font-size: 1.6em;
}

#root{
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.app{
  max-width: 1440px;
  width: 90%;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.navbar{
  height: 80px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  position: relative;
}

.navLinks{
  list-style: none;
  
  display: flex;
  flex: 1;
}

.navLinks li{
  position:relative;
  width: auto;
  padding: 0 1em;
  font-size: 1em;
  height: 80px;
  display: flex;
  align-items: center;
  cursor: pointer;
}

.navLinks li:after{
  content: '';
  transition: width 0.3s color 0.5s;
  position: absolute;
  background: var(--highlighter);
  bottom: 0px;
  left: 0px;
  height: 2px;
  width: 100%;
  transition: width 1s, color 0.3s, transform 0.3s;
  transform: scaleX(0);
  transform-origin: 50% 50%;
  
}

.highlighted{
  position: absolute;
  background: var(--highlighter);
  bottom: 0px;
  left: 0px;
  height: 2px;
  width: 100%;
  transform-origin: 50% 50%;
}

.navLinks li:hover:after{
  transform: scaleX(100%);
}

.logoImageContainer{
  flex: 0;
  
}

.cartMoney{
  display: flex;
  flex: 1;
  justify-content: flex-end;
}

.styledSelect{
  display: flex;
  cursor: pointer;
  user-select: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  
}

.currency{
  cursor: pointer;
}

.cart{
  margin: 0 1em;
}

.cart{
  width:min-content;
}

.currencyDropDown{
  appearance: none;
  width: 10px;
  border: none;
  font-size: 1.6rem;
  font-weight: 500;
  color: black;
}

.currencyDropDown:active, .currencyDropDown:focus {
  border: none;
  outline:none;
}

.dropDownArrow{
  height: auto;
  font-weight: 600;
  font-size: 0.9em;
  margin-left: 0.5em;
  transition: transform 0.1s ease-in-out;
  transform-origin: 4px 10.5px;
}

.dropDown{
  background: var(--background);
  box-shadow: 0px 4px 35px #a8acb027;
  position: absolute;
  top: 70%;
  transform: translateX(-25%);
  overflow: hidden;
  transition: height 0.1s ease-in-out;
  width: 114px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  z-index: 100;
}

.dropDownOption {
  display: flex;
  justify-content: center;
  align-items: center;
  transition: background-color 0.2s;
  height: 100%;
}

.dropDownOption:hover {
  transform: none;
  background: #cccccc;
}

/* category comp */

.categoryContainer{
  position: relative;
  display: flex;
  flex-direction: column;
  width: 100%;
  height: max-content;
  padding-bottom: 5em;
}

.categoryName{
  width: 100%;
  font-weight: 200;
  font-size: 1.8em;
  text-align: left;
  margin: 1em 0em 2em 0em;
}

.products{
  height: 100%;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(350px, 1fr));
  gap: 2em 1em;
}

.product{
  background: #fff;
  height: max-content;
  width: 350px;
  cursor: pointer;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 1em;
}

.product:hover{
  box-shadow: 0 4px 35px #a8acb042;
}

.productImageContainer{
  width: 100%;
  height: 400px;
  position: relative;
}


.productImageContainerInner{
  overflow: hidden;
  height: 100%;
  width: 100%;
  position: relative;
}

.outOfStock {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  color: var(--outOfStock);
  background-color: #FFF7;
  font-size: 2em;
}

.productImage{
  object-fit: cover;
  width: 100%;
}

.productInfo{
  width: 100%;
  margin-top: 1.2em;
}

.productPrice{
  margin-top: 0.3em;
  font-weight: 600;
}

.addToCartImageContainer{
  background-color: #5ECE7B;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  width: 50px;
  height: 50px;
  position: absolute;
  bottom: -20px;
  right: 15px;
  opacity: 0;
  transition: opacity 0.2s;
  z-index: 50;
}

.addToCartImage{
  filter: invert() brightness(200%);
}

.product:hover .addToCartImageContainer{
  opacity: 1;
}

.productDescriptionPortal{
  left: 0;
  right: 0;
  background: var(--background);
  padding: 5%;
  width: 100%;
  display: flex;
  justify-content: space-between;
}

.productDescriptionPortal>div{
  top: 0;
  margin: 0px 1em;
}

.galleryPDP{
  position: relative;
  width: max-content;
  max-width: 150px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  height: 500px;
  overflow-y: scroll;
  scroll-behavior: smooth;
}

.galleryPDP::-webkit-scrollbar{
  -webkit-appearance: none;
  width: 0px;
}

.galleryPDP::-webkit-scrollbar-thumb {
  display: none;
}

.scrollUpGallery, .scrollDownGallery{
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 2em;
  font-weight: 200;
  cursor: pointer;
  transform: scaleX(2);
  color: #aaad;
  user-select: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  mix-blend-mode: difference;
}

.scrollUpGallery{
  position: sticky;
  top: 0;
}

.scrollDownGallery{
  position: sticky;
  bottom: 0;
  transform: rotate(180deg) scaleX(2);
}

.hideScrollButton{
  opacity: 0;
  cursor: auto;
}

.mainImagePDP{
  flex: 3;
}

.productDescriptionPDP{
  flex: 2;
  display: flex;
  flex-direction: column;
}

.productDescriptionPDPInner{
  width: 250px;
}

/* stop blue links */
a.productLink{
  color: black;
  text-decoration: none;
}

.galleryImageContainer{
  width: 80px;
  margin: 0.5em 0;
  border: 1px solid rgb(245, 244, 244); /*to accent the gallery images just a little bit :) */
  cursor: pointer;
}

.galleryImage{
  object-fit: cover;
  width: 100%;
}

.mainImage{
  object-fit: contain;
  width: 100%;
  height: 500px;
}

.brandNamePDP{
  font-size: 2.7rem;
}

.productNamePDP{
  font-size: 2rem;
}

.attributeName{
  font-family: 'Roboto Condensed', sans-serif;
  font-size: 1.5rem;
  margin-top: 1.8em;
  font-weight: 700;
}

.attributeList{
  list-style: none;
  display: flex;
}

.attributeItem{
  font-family: 'Source Sans Pro', sans-serif;
  font-size: 1.6rem;
  user-select: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
}


.attributeSwatchActive{
  border: var(--highlighter) solid 1.5px;
}

.attributeTextActive{
  color: white;
  background: #1D1F22;
}
.attributeSwatch{
  width: 1.7em;
  height: 1.7em;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0em 0.11em;
}

.attributeSwatchInner{
  height: 1.25em;
  width: 1.25em;
  box-shadow: 0px 0px 1px rgb(17, 17, 17); /*add timy border to watches because some colors are white */
  cursor: pointer;
}

.attributeText{
  border: solid 1px black;
  margin-top: 0.3em;
  margin-right: 0.2em;
  height: 2.5em;
  max-width: 4em;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

.productPricePDP{
  font-weight: 700;
  margin-top: 0.7em;
}

.addToCartLargeButton{
  background-color: var(--highlighter);
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 5.2rem;
  font-weight: 600;
  margin-top: 1em;
  cursor: pointer;
}

.disabledAddToCart{
  background-color: var(--highlighterStockLess);
  cursor: auto;
}

.productInterDescription{
  margin-top: 2.5em;
  height: max-content;
}

.productInterDescription li{
  margin-left: 1em;
}

.cartContainer{
  font-size: 0.8em;
  position: relative;
  display: flex;
  flex-direction: column;
  width: 100%;
  height: max-content;
  padding-bottom: 5em;
}

.cartName{
  width: 100%;
  font-weight: 200;
  font-size: 2em;
  text-align: left;
  margin: 1em 0em 2em 0em;
  font-weight: 700;
}

.cartItems{
  width: 100%;
}

.cartItem{
  border-top: 1px solid #E5E5E5;
  height: auto;
  display: flex;
  padding: 1em 0em;
  min-height: 250px;
}

.cartOrder{
  border-top: 1px solid #E5E5E5;
  padding-top: 2em;
  font-size: 1.4em;
  
}

.cartTax, .cartQuantity, .cartTotal{
  display: flex;
  justify-content: center;
  margin: 0.2em 0em;
  width: 250px;
}

.cartTotal{
  font-weight: 500;
}

.cartLabel{
  flex: 0.6;
}
.cartTaxValue, .cartQuantityValue, .cartTotalValue{
  flex: 1;
  font-weight: 700;
}

.cartOrderButton{
  background-color: var(--highlighter);
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 280px;
  height: 4.3rem;
  font-weight: 600;
  margin-top: 1em;
  cursor: pointer;
}

.cartItemInfo{
  flex: 2;
  display: flex;
  flex-direction: column;
}

.cartItemQuantity{
  flex: 0.2;
}

.cartItemGalleryContainer{
  flex: 0.6;
  position: relative;
}

.cartItemBrandName{
  font-size: 1.5em;
  font-weight: 600;
  margin: 0.3em 0;
}

.cartItemProductName{
  font-size: 1.5em;
}

.cartItemPrice{
  font-size: 1.3em;
  font-weight: 700;
  margin-top: 0.5em;
}

.cartItemQuantity{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  font-size: 2em;
  align-items: center;
}

.cartItemQuantityIncrease, .cartItemQuantityDecrease{
  width: 45px;
  height: 45px;
  border: 1px solid #111;
  display: flex;
  justify-content: center;
  align-items: center;
  user-select: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  cursor: pointer;
}

.cartIconContainer{
  position: relative;
  cursor: pointer;
}

.cartCounter{
  position: absolute;
  background: black;
  color: var(--background);
  width: 18px;
  height: 18px;
  border-radius: 50%;
  right: 9px;
  top: -9px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 0.7em;
  font-family: 'Roboto condensed', sans-serif;
  font-weight: 700;
}



.cartItemGalleryImage{
  height: 100%;
  width: 100%;
  object-fit: contain;
}

.cartItemGalleryControls{
  display: flex;
  width: max-content;
  position: absolute;
  bottom: 1em;
  right: 0.4em;
}

.cartItemGalleryLeft, .cartItemGalleryRight{
  width: 24px;
  height: 24px;
  background:rgba(0, 0, 0, .5);
  color: var(--background);
  font-weight: 600;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 0.3em;
  cursor: pointer;
  user-select: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
}

/* mini Cart */

.hideVisibility{
  visibility: hidden;
  transition: visibility 0s;
}

.hideMiniCart{
  opacity: 0;
  transition: visibility 0s;
}

.miniCartBackground{
  transition: visibility 0s;
  position:fixed;
  width: 100vw;
  height: 100vw;
  top: 80px;
  left: 0;
  z-index: 70;
  background: #0003;
  cursor: auto;
}

.miniCart{
  width: 330px;
  height: 400px; /*remove this and make it dynamic*/
  position: absolute;
  right: 5%;
  background: white;
  display: flex;
  flex-direction: column;
  padding: 1em;
  z-index: 100;
  font-size: 0.8em;
}

.miniCartName{
  font-weight: 700;
  display: flex;
}

.miniCartNameItems{
  font-weight: 500;
  margin-left: 0.5em;
}

.miniCartItem {
  height: auto;
  display: flex;
  padding: 1em 0em;
  min-height: 150px;
}

.miniCartItemInfo {
  flex: 1;
  display: flex;
  flex-direction: column;
}

.miniCartItemQuantity {
  flex: 0.2;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  font-size: 1.6em;
  align-items: center;
}

.miniCartItemGalleryContainer {
  flex: 0.8;
  position: relative;
}

.miniCartItemBrandName {
  font-size: 1.5em;
  margin: 0.3em 0;
  font-weight: 300;
  
}

.miniCartItemProductName {
  font-size: 1.5em;
  font-weight: 300;
}

.miniCartItemPrice {
  font-size: 1.3em;
  font-weight: 500;
  margin-top: 0.5em;
}

.miniCartItemQuantityIncrease,
.miniCartItemQuantityDecrease {
  width: 24px;
  height: 24px;
  border: 1px solid #111;
  display: flex;
  justify-content: center;
  align-items: center;
  user-select: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  cursor: pointer;
}

.miniCartItems{
  overflow-y: scroll;
  margin-top: 0.4em;
  border-top: 1px solid rgb(232, 232, 232);
}

.miniCartItems::-webkit-scrollbar {
  -webkit-appearance: none;
  width: 9px;
}

.miniCartItems::-webkit-scrollbar-thumb {
  border-radius: 4px;
  background-color: rgba(0, 0, 0, .5);
  box-shadow: 0 0 1px rgba(255, 255, 255, .5);
}

.miniCartOrder {
  padding-top: 1em;
}

.miniCartTotal{
  display: flex;
  justify-content: space-between;
}

.miniCartLabel{
  font-weight: 500;
}

.miniCartTotalValue{
  font-weight: 700;
}

.miniCartButtons{
  width: 100%;
  display: flex;
  justify-content: space-between;
  margin-top: 0.5em;
}

.miniCartViewButton,
.miniCartOrderButton {
  width: 100%;
  height: 4.3rem;
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: 600;
  cursor: pointer;
}

.miniCartViewButton{
  border: 1px solid black;
  margin-right: 0.25em;
}

.miniCartOrderButton{
  background-color: var(--highlighter);
  border: 1px solid var(--highlighter);
  color: white;
  margin-left: 0.25em;
}