@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@400;500;600;700;800;900&display=swap');

*{
  margin: 0px;
  padding: 0px;
}
:root{
  --background: #fff;
  --highlighter: #5ECE7B;
}

html{
  font-size: 62.5%;
  font-family: 'Raleway', sans-serif;
}

body {
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  background: var(--background);
  font-size: 1.6em;
}

#root{
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.app{
  max-width: 1440px;
  width: 90%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.navbar{
  position: sticky;
  top: 0;
  height: 80px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}

.navLinks{
  list-style: none;
  
  display: flex;
  flex: 1;
}

.navLinks li{
  position:relative;
  width: auto;
  padding: 0 1em;
  font-size: 1em;
  height: 80px;
  display: flex;
  align-items: center;
  cursor: pointer;
}

.navLinks li:after{
  content: '';
  transition: width 0.3s color 0.5s;
  position: absolute;
  background: var(--highlighter);
  bottom: 0px;
  left: 0px;
  height: 2px;
  width: 100%;
  transition: width 1s, color 0.3s, transform 0.3s;
  transform: scaleX(0);
  transform-origin: 50% 50%;
  
}

.navLinks li:hover:after{
  transform: scaleX(100%);
}

.logoImageContainer{
  flex: 0;
  
}

.cartMoney{
  display: flex;
  flex-direction: row-reverse;
  flex: 1;
}

.styledSelect{
  display: flex;
  cursor: pointer;
  user-select: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
}

.currency, .cart{
  margin: 0 1em;
  cursor: pointer;
}


.currencyDropDown{
  appearance: none;
  width: 10px;
  border: none;
  font-size: 1.6rem;
  font-weight: 500;
  color: black;
}

.currencyDropDown:active, .currencyDropDown:focus {
  border: none;
  outline:none;
}

.dropDownArrow{
  height: auto;
  font-weight: 600;
  font-size: 0.9em;
  margin-left: -0.7em;
  transition: transform 1s;
  transform-origin: 4px 10.5px;
}